@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;

.video-info {
  display: flex;
  flex-direction: column;
  font-family: "avenir";
  @include tablet {
    padding-left: 2rem;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  @include desktop {
    padding-left: 10rem;
    // width: 71%;
  }

  &__title {
    @include mobile-only-header;
    display: flex;
    border-bottom: solid $Mercury 2px;
    padding-bottom: 2rem;
    flex-direction: row;
    justify-content: center;
    @include tablet {
      @include main-header;

      font-size: 40px;
      border-bottom: none;
      padding-top: 1rem;
      padding-bottom: 0;
      margin: 0;
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__details {
    border-bottom: solid $Mercury 2px;

    @include tablet {
      border-bottom: none;
      gap: 20rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  &__firstdetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 17px;
    @include tablet {
      gap: 1rem;
      display: flex;
    }
  }
  &__seconddetails {
    font-size: 18px;
    color: $Silver;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include tablet {
      gap: 1rem;
      display: flex;
    }
  }
  &__views {
    color: $Silver;
    gap: 10px;
    display: flex;
    @include tablet {
      display: none;
    }
  }
  &__date {
    @include tablet {
      display: none;
    }
  }
  &__like {
    display: flex;

    gap: 10px;
    &--icon {
      width: 17px;
      height: 22px;
    }
  }
  &__description {
    font-size: 18px;
    @include tablet {
      padding: 20px 0;
      margin: 0;
      border-top: solid $Mercury 2px;
    }
  }
  &__counter {
    font-weight: 600;
    font-size: 21px;
  }
  &__text {
    font-weight: 600;
  }
  &__views--icon {
    width: 22px;
    height: 22px;
    margin: 0;
  }
  &__date--tabview {
    display: none;

    @include tablet {
      display: inline-block;
      color: $Silver;
    }
  }
  &__views--tabview {
    display: none;
    @include tablet {
      display: inline-block;
      & p {
        gap: 5px;
        display: flex;
      }
    }
  }
}
