@use "/src/styles/partials/mixins" as *;
@use "./variables" as *;
@use "./typography";

* {
  box-sizing: border-box;
}

body {
  @include mobile-body;
  color: $BrainFlix-Black;

  @include tablet {
    @include main-body;
    margin: 0;
    padding: 0;
  }
}
