@use "./mixins" as *;
@use "./variables" as *;
@use './typography';

* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  color: $BandSite-Black;
  margin: 0;
}

.header {
  @include mobile-only-header;

  padding: 0.5rem;
  gap: 1rem;
  background-color: #323232;
  text-decoration: none;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  @include tablet {
    gap: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding: 1.25rem;
  }
  &__logo {
    @include tablet {
      padding-bottom: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 1.25rem;
    }
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  &__nav {
    display: flex;
    gap: 4rem;
    margin: 0;
  }
  &__nav-link {
    color: #e1e1e1;
    text-decoration: none;
    padding-bottom: 0.5rem;
    display: inline-block;
    width: 100%;
    position: relative;
    flex: 1;

    &:hover::after,
    &:focus::after {
      border-bottom: 2px solid #ffffff;
      content: "";
      position: absolute;
      inset: 0;
    }

    @include tablet {
      @include main-subheader;
      font-size: 21px;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: flex-start;
    }
    @include desktop {
      font-size: 1rem;
      padding-right: 0;
    }
    &.active {
      color: $White;
      font-weight: 700;
    }
    &.active::after {
      border-bottom: 2px solid #ffffff;
      content: "";
      position: absolute;
      inset: 0;
    }
  }
}

// FOOTER STYLING
.footer {
  @include tablet {
    position: relative;
    display: flex;
    font-size: 0.625rem;
    line-height: 1.25rem;
  }

  @include mobile-footer;
  display: flex;
  background-color: #323232;
  color: #ffffff;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: flex-start;
  text-decoration: none;
  padding: 1.25rem;

  &__logo {
    padding-top: 20px;
    position: relative;
    left: 0;
    top: 0.875rem;

    @include tablet {
      position: absolute;
      top: 3rem;
      left: 35rem;
    }
    @include desktop {
      left: 60rem;
    }
  }

  &__legal {
    padding-top: 10px;
    display: flex;
    font-size: 10px;

    @include tablet {
      font-weight: 400;
      font-size: 0.875rem;
      position: relative;
      left: -12rem;
      top: 0.625rem;
    }
  }

  &__email {
    text-decoration: none;
    color: $White;
  }

  &__icons {
    padding-right: 1.25rem;
    @include tablet {
      font-size: 1.25rem;
    }
  }
  &__address {
    @include tablet {
      position: relative;
      left: -25px;
      display: flex;
      flex-direction: column;
      font-weight: 400;
      font-size: 14px;
      @include main-footer;
    }
  }
  &__company {
    @include tablet {
      @include main-footer;
    }
  }

  &__title {
    @include tablet {
      @include main-subheader;
      font-weight: 600;
      font-size: 2.5625rem;
      padding-right: 5.125rem;
    }
  }
  &__socials {
    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      padding-left: 20px;
    }
  }
  &__text {
    @include tablet;
    padding: 0;
  }

  &__mid-section {
    font-weight: 400;

    @include tablet {
      gap: 7%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

//footer end
