@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}
// Text size: 24px | Line height: 32px | Text weight: Bold 700

// Mobile text styles
@mixin mobile-only-header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  
}

// Text size: 12px | Line height: 20px | Text weight: Bold 700

@mixin mobile-section-header {
  @media (min-width: 767px) {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
    @content;
  }
}

// Text size: 13px | Line height: 18px | Text weight: Bold 400

@mixin mobile-subheader {
  @media (min-width: 767px) {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    @content;
  }
}

// Text size: 13px | Line height: 18px | Text weight: Regular 400

@mixin mobile-body {
  @media (min-width: 767px) {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    @content;
  }
}
// Text size: 10px | Line height: 20px | Text weight: Bold 700

@mixin mobile-labelButton {
  @media (min-width: 767px) {
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
    @content;
  }
}

// TABLET & DESKTOP
// text styles
@mixin section-header {
  font-size: 31px;
  line-height: 0px;
  font-weight: 600;
  @content;
}

// DESKTOP & TABLET TEXT STYLES MOBILE TEXT STYLES
// Text size: 33px | Line height: 44px | Text weight: Bold 700

@mixin main-header {
  font-size: 33px;
  line-height: 44px;
  font-weight: 700;
}

// Section Header
// Text size: 12px | Line height: 20px | Text weight: Bold 700

@mixin main-section-header {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}

// Subheader
// Text size: 14px | Line height: 22px | Text weight: Bold 700

@mixin main-subheader {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
}

// Body Copy
// Text size: 14px | Line height: 22px | Text weight: Regular 400

@mixin main-body {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

// Text size: 12px | Line height: 20px | Text weight: Bold 700

// Text size: 12px | Line height: 20px | Text weight: Bold 700
@mixin main-button {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}

@mixin cta-button {
  height: 40px;
  border-radius: 4%;
  color: $White;
  background-color: $BrainFlix-Blue;
}

@mixin cta-main {
  height: 40px;
  border-radius: 4px;
  width: 150px;
  color: $White;
  background-color: $BrainFlix-Blue;
}
