$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// setting Avenir fonts
@font-face {
  font-family: "Avenir";
  src: url(/assets/Font/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/Font/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}

@font-face {
  font-family: "Avenir";
  src: url(/assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}

// color variables

$BrainFlix-Black: #323232;
$Silver: #afafaf;
$BrainFlix-DarkBlack: #000000;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;
$White: #ffffff;
$BrainFlix-Blue: #0095ff;
$BrainFlix-DarkBlue: #0065ad;
