$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// color variables

$BrainFlix-Black: #323232;
$Silver: #afafaf;
$BrainFlix-DarkBlack: #000000;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;
$White: #ffffff;
$BrainFlix-Blue: #0095ff;
$BrainFlix-DarkBlue: #0065ad;