@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/global" as *;

.video-player {
  display: flex;
  border-bottom: 0.125rem solid #e1e1e1;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: 0.125rem solid #e1e1e1;

  &__content {
    width: 100%;
    height: 16rem;
    object-fit: cover;

    @include tablet {
      height: 25rem;
    }
    @include desktop {
      background-color: $BrainFlix-DarkBlack;
      object-fit: contain;
      padding: 0;
      height: 30rem;
    }
  }
}
