@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/global" as *;

.upload-page {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-top: 2px solid $Mercury;
  &__header {
    @include mobile-only-header;

    line-height: 32px;
    font-weight: 600;
    font-size: 2rem;
    @include tablet {
      border-bottom: 2px solid $Mercury;
      padding-bottom: 2rem;
      font-weight: 700;
    }
  }
}

.upload-page__thumbnail {
  margin-bottom: 20px;
  border-radius: 4px;
}

.upload-page__thumbnail h3 {
  @include main-subheader;
  font-size: 14px;
  font-weight: 600;
  color: $Silver;
  margin-bottom: 8px;
  @include desktop {
    font-weight: 400;
  }
}

.upload-page__thumbnail-image {
  width: 100%;
  max-width: 480px;
  height: auto;
  @include tablet {
    height: 13rem;
    width: 24rem;
  }
}

.upload-page__label {
  @include main-subheader;
  font-weight: 600;
  color: $Silver;
  margin-bottom: 5px;
  display: block;

  @include desktop {
    font-weight: 400;
    font-size: 0.6875rem;
  }
}

.upload-page__input,
.upload-page__textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  border: 1px solid $Silver;
  border-radius: 4px;
  background-color: #e1e1e170;
}

.upload-page__textarea {
  resize: none;
  height: 100px;
}

.upload-page__actions {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include tablet {
    padding-top: 2rem;
    border-top: solid $Mercury 0.125rem;
    display: flex;
    flex-direction: row-reverse;
  }
}

.upload-page__button {
  display: flex;
  flex: 1;
  padding: 10px;
  background-color: $BrainFlix-Blue;
  color: $White;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  flex-direction: row;
  justify-content: center;

  @include tablet {
    display: flex;
    height: 3rem;
    order: 1;
    flex: none;
    width: 13rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.upload-page__cancel {
  flex: 1;
  padding: 10px;
  background-color: transparent;
  color: $BrainFlix-Blue;
  border: none;
  font-size: 14px;
  text-decoration: none;

  @include tablet {
    display: flex;
    height: 3rem;
    order: 2;
    flex: none;
    width: 13rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.upload-page__section--inner {
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.upload-page__title-container {
  @include desktop {
    padding: 2rem;
    width: 100%;
  }
}
