@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/global" as *;

.upload-page {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-top: 2px solid $Mercury;
  &__header {
    @include mobile-only-header;

    line-height: 32px;
    font-weight: 700;
    font-size: 2rem;
    /* padding: 1.25rem 0; */
  }
}

.upload-page__thumbnail {
  margin-bottom: 20px;
  border-radius: 4px;
}

.upload-page__thumbnail h3 {
  @include main-subheader;
  font-size: 1.1875rem;
  font-weight: 400;
  color: $Silver;
  margin-bottom: 8px;
}

.upload-page__thumbnail-image {
  width: 100%;
  max-width: 480px;
  height: auto;
  @include tablet {
    height: 14rem;
    width: 30rem;
  }
}

.upload-page__label {
  @include main-subheader;
  color: $Silver;
  margin-bottom: 5px;
  display: block;
}

.upload-page__input,
.upload-page__textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  border: 1px solid $Silver;
  border-radius: 4px;
  background-color: $Mercury;
}

.upload-page__textarea {
  resize: none;
  height: 100px;
}

.upload-page__actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.upload-page__button {
  display: flex;
  flex: 1;
  padding: 10px;
  background-color: $BrainFlix-Blue;
  color: $White;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  flex-direction: row;
  justify-content: center;
}

.upload-page__cancel {
  flex: 1;
  padding: 10px;
  background-color: transparent;
  color: $BrainFlix-Blue;
  border: none;
  font-size: 14px;
  text-decoration: none;
}
