@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/global" as *;

.comment {
  display: flex;
  border-bottom: 2px solid $Mercury;
  gap: 1rem;
  @include tablet {
    padding: 1rem;
  }
  &__container {
    @include desktop {
      padding-left: 9rem;
      // width: 70%;
    }
  }

  &__container--inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__content {
    flex-grow: 1;
  }
  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin-top: 0.5rem;
    flex-shrink: 0;
  }
  &__text {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;

    @include tablet {
      margin-top: 0;
      font-size: 18px;
    }
  }
  &__date {
    color: $Silver;
    display: flex;
    flex-direction: row;
  }
}
