@use "../styles/partials/variables" as *;
.comment {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #e1e1e1;

  &__container--inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin-top: 0.5rem;
  }
  &__text {
    padding-left: 4rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  &__date {
    color: $Silver;
    display: flex;
    flex-direction: row;
  }
}
