@use "./styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/global" as *;

* {
  box-sizing: border-box;
}

body {
  padding: 1rem;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  color: $BrainFlix-Black;
  margin: 0;
}

.Desktop {
  @include desktop {
    display: flex;
    flex-direction: row;
  }
  &__section--one {
    @include desktop {
      flex-direction: column;
      width: 70%;
    }
  }

  &__section--two {
    @include desktop {
      flex-direction: column;
    }
  }
}
