@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/variables" as *;

.forms {
  display: flex;
  flex-direction: column;
  line-height: 1.5625rem;
  padding: 0 16px;

  @include tablet {
    gap: 16px;
    display: flex;
    flex-direction: row;
  }
  @include desktop {
    padding-left: 160px;
  }
  &__container {
    border-bottom: solid $Mercury 0.125rem;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;

    @include tablet {
      border: none;
    }
  }
  &__avatar {
    object-fit: cover;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 16px;
    @include tablet {
      flex-wrap: wrap;
    }
    @include desktop {
      padding-bottom: 32px;
      border-bottom: solid $Silver 0.125rem;
    }
  }

  &__input-container {
    width: 100%;
    color: $Silver;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 1.25rem;
  }
  &__input {
    height: 8rem;
    font-family: "avenir";
    color: black;
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.75rem;
    background-color: #afafaf33;
    @include tablet {
      color: black;
      font-size: 1.1875rem;
      padding: 0.75rem;
      margin: 0;
      width: 432px;
      display: flex;
      height: 3.125rem;
      flex-direction: row;
      align-content: flex-end;
      flex-wrap: wrap;
      align-items: flex-end;
    }
  }

  &__button {
    font-size: 16px;
    display: flex;
    color: $White;
    font-weight: 400;
    background-color: $BrainFlix-Blue;
    border-radius: 0.25rem;
    width: 100%;
    height: 2.5rem;
    border-color: $Silver;
    border: none;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    @include tablet {
      height: 3.125rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
    }
    &-outer {
      padding-left: 4rem;
      display: flex;
      align-content: flex-end;
      justify-content: flex-end;
      @include tablet {
        padding: 0;
        width: 100%;
        display: flex;
        align-content: flex-end;
        justify-content: flex-end;
      }
      @include desktop {
        width: 11.3125rem;
      }
    }
    &:hover {
      background-color: $BrainFlix-DarkBlue;
      color: $White;
    }
  }
  &__fieldset {
    gap: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include tablet {
      flex-direction: row;
      justify-content: center;
    }
    @include desktop {
      border-bottom: $Silver;
    }
  }
  &__header {
    padding-left: 5.1875rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: $Silver;
    @include tablet {
      margin-bottom: 0.125rem;
      font-size: 1rem;
      font-weight: 600;
    }
    @include desktop {
      font-weight: 400;
      padding-left: 14.25rem;
      font-size: 1rem;
    }
  }
  &__button--icon {
    display: flex;
  }
}
